* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

h1 {
   font-family: 'KoHo', sans-serif;
   font-weight: inherit;
   margin: 0
}

h2 {
   font-family: 'Crimson Text', serif;
   font-size: 1.75rem;
   font-weight: 400;
}

p {
   font-family: 'Crimson Text', serif;
   font-size: 1rem;
   line-height: 1.75rem;
}

a {
    color: rgba(34, 70, 255, 1);
    text-decoration: underline;
    font-style: italic;
}

a:hover {
    text-decoration: none;
}

.text {
    padding: .5em 0;
}

img {
    max-width: 100%;
}

.site {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}

#front,
#about-front,
.footer {
    background: linear-gradient(321deg, #d1eeeb, #7cf52a, #d8d1ee);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 52s ease infinite;
    -moz-animation: AnimationName 52s ease infinite;
    animation: AnimationName 52s ease infinite;
}

@-webkit-keyframes AnimationName {
   0%{background-position:9% 0%}
   50%{background-position:92% 100%}
   100%{background-position:9% 0%}
}
@-moz-keyframes AnimationName {
   0%{background-position:9% 0%}
   50%{background-position:92% 100%}
   100%{background-position:9% 0%}
}
@keyframes AnimationName {
   0%{background-position:9% 0%}
   50%{background-position:92% 100%}
   100%{background-position:9% 0%}
}

header .name {
    position: absolute;
    top: 1em;
    left: 1.5em;
    z-index: 500
}

.nametext {
    padding-top: 5px;
    font-family: 'Press Start 2P', monospace;
    font-size: 0.7em;
}

#name {
    line-height: 0.9em;
    z-index: 1003;
}

#namehover {
    display: none;
    line-height: 0.9em;
    color: blue;
    fill: blue;
    z-index: 1003;
}

/* ==========================================================================
   SVGs
   ========================================================================== */

#svg-smile {
   width: 1.5em;
}

.svg-about {
    fill: rgba(34, 70, 255, 1);
}

.svg-nav:hover,
.svg-footer:hover {
    fill: blue;
}

#svg-home,
#svg-about {
    width: 1.8em;
    padding: 0.1em;
}

#svg-mail {
    height: 1.2em;
}

#svg-resume {
    height: 1.5em;
}

#svg-linkedin {
    width: 1.6em;
}

#svg-smile {
    width: 2em;
}

/* ==========================================================================
   about
   ========================================================================== */

#about-front {
    height: calc(100vh - 16em);
    justify-content: flex-start;
    padding-top: 8em;
    padding-bottom: 8em;
}

#about {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 1000px;
}

#about h1 {
    font-size: 3em;
    line-height: 1em;
    font-weight: 700;
    z-index: 500;
}

#about .left {
    display: flex;
    flex-direction: column;
}

#about .left p {
    font-size: 0.75em;
}

#about .overlay {
    position: absolute;
    width: 15em;
    margin: -3em 0 0 -2em;
    z-index: 500;
}

#about .right img {
    width: 10em;
}

#about .aboutContact,
#about .skills {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

#about .skills span {
    margin-right: 2em;
}

.about-img {
    margin: 1em 40px 1em 0;
    width: 100em;
}

.svg-about {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 1.5em;
}

.svg-about #svg-mail,
.svg-about #svg-resume,
.svg-about #svg-linkedin {
    margin-right: 0.25em;
}



/* ==========================================================================
   Navigation
   ========================================================================== */

.nav p {
    font-size: 1rem;
}

.nav.left {
    top: calc(3rem + 65vh);
    left: 0;
    position: fixed;
    margin: 0;
    text-align: center;
    height: 4rem;
    width: 100%;
    z-index: 1000;
}

.nav.right {
    top: 0;
    right: 0;
    position: fixed;
    margin: 2rem;
    padding: 0.8rem 1rem;
    text-align: center;
    z-index: 1002;
}

.nav.left p {
    /* margin-left: calc(0.1rem + 2vw); */
    display: flex;
    justify-content: space-between;
}

.nav.left p a {
    padding: 0.8rem 1rem;
}

.nav.right:hover,
.nav.left p a:hover {
    background-color: rgba(255,255,0,1);
}

.nav p a {
    font-family: 'KoHo', sans-serif;
    font-weight: 500;
    text-decoration: none;
    text-shadow: 0 0 1em blue;
}

.nav-link,
.nav.bottom a {
    color: #000;
}

.nav-link:hover ,
.nav.bottom a:hover,
.nav-link-bottom:hover {
    color: red !important;
    text-shadow: 0 0 1em blue !important;
}

/* ==========================================================================
   Front Page
   ========================================================================== */

#front {
    height: 100vh;
   }

#frontPage {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.frontRow {
    width: inherit;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#row1.translator {
    transition: all 1000ms ease;
    /* -webkit-transform:translate(0px,2vh);
    -moz-transform:translate(0px,-2vh);
    -ms-transform:translate(0px,-2vh);
    -o-transform:translate(0px,2vh); */
    transform: translate(0px, 2vh);
    transition-delay: 250ms;
}

#row3.translator2 {
    transition: all 1000ms ease;
    /* -webkit-transform:translate(0px,-2vh);
    -moz-transform:translate(0px,2vh);
    -ms-transform:translate(0px,2vh);
    -o-transform:translate(0px,-2vh); */
    transform: translate(0px, -2vh);
    transition-delay: 250ms;
}

#row1 {
    transition: all 1000ms ease;
    -webkit-transform:translate(0px,-15vh);
    -moz-transform:translate(0px,15vh);
    -ms-transform:translate(0px,15vh);
    -o-transform:translate(0px,-15vh);
    transform:translate(0px,15vh);
    transition-delay: 250ms;
    z-index: 300;
}

#row2 {
    z-index: 299;
}

#row3 {
    transition: all 1000ms ease;
    -webkit-transform:translate(0px,15vh);
    -moz-transform:translate(0px,-15vh);
    -ms-transform:translate(0px,-15vh);
    -o-transform:translate(0px,15vh);
    transform:translate(0px,-15vh);
    transition-delay: 250ms;
    z-index: 298;
}

.frontObject{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.frontObject.empty {
    width: 10vw;
}



/* ==========================================================================
   Image Thumbnails
   ========================================================================== */

.img__wrap {
    transition: all 1000ms ease;
    position: relative;
    height: inherit;
    width: 20vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.img__wrap img {
    width: calc(85% + 1vw);
    height: auto;
    box-shadow: 0 0 1.2em rgba(0, 0, 0, 0.25);
}

.img__description {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    width: calc(85% + 1vw);
    height: auto;
    background: rgba(103, 116, 255, 0.75);
    color: #fff;
    opacity: 0;
    transition: opacity .25s, visibility .25s;
    font-family: 'KoHo', sans-serif;
    font-weight: 500;
    text-decoration: none;
}

.img__wrap:hover {
    width: 25vw;
    height: auto;
}

.img__description:hover {
    opacity: 1;
}

.img__wrap.imgsmall {
    width: 14vw;
}

.img__wrap.imgsmall img {
    width: calc(75% + 1vw);
}

.img__wrap.imgsmall .img__description {
    width: calc(75% + 1vw);
}

.img__wrap.imgsmall:hover {
    width: 19vw;
}

/* ==========================================================================
   Footer
   ========================================================================== */

#front .footer {
    background: transparent;
}

#front .footer .left {
    display: flex;
    align-items: center;
    margin-top: 2em;
}

.footermobile {
    display: none;
}

.svg-footer #svg-mail,
.svg-footer #svg-resume {
    margin: 0 0.5em;
}
.svg-footer #svg-linkedin {
    margin: 0 0.25em;
}



@media screen and (min-width: 641px) and (max-width: 1000px) {

    .img__wrap {
        width: 24vw;
        margin: 0.3vw;
    }

    .img__wrap:hover {
        width: 32vw;
    }
}

@media screen and (min-width: 1400px) {

    .img__wrap {
        width: 16vw;
    }

    .img__wrap:hover {
        width: 20vw;
    }

    .img__wrap.imgsmall {
        width: 10vw;
    }

    .img__wrap.imgsmall:hover {
        width: 14vw;
    }
}

@media screen and (max-width: 640px) {

    .nav.right {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        bottom: 0;
        left: 0;
        top: auto;
        right: auto;
        margin: 0;
        padding: 0;
        height: 4em;
        width: 100vw;
        background-color: yellow;
    }

    .nav.right:hover
    .nav.left p:hover {
        background-color: none;
    }

    #frontPage {
        margin-top: 4em;
        margin-bottom: 3em;
    }

    #frontPage,
    .frontRow {
        width: 100vw;
        height: auto;
    }

    .img__wrap,
    .img__wrap:hover,
    .img__wrap.imgsmall,
    .img__wrap.imgsmall:hover {
        width: 90vw;
        overflow: hidden;
        margin-top: 5vw;
    }

    .img__wrap {
        transition: 0;
        transition-delay: 0;
    }

    .img__wrap img {
        width: 100vw;
        height: auto;
        object-fit: cover;
    }

    .img__description {
      width: 90%;
      height: 85%;
      opacity: 1;
      color: #fff;
      margin-top: 5%;
      opacity: 0;
    }

    .img__wrap.imgsmall .img__description {
        width: 65%;
        height: 92%;
    }

    .img__description:hover {
        opacity: 1;
    }

    #frontPage,
    #row1,
    #row3,
    #row1.translator,
    #row3.translator2 {
        height: auto;
        -webkit-transform: unset;
        -moz-transform: unset;
        -ms-transform: unset;
        -o-transform: unset;
        transform: unset;
        transition: unset;
        transition-delay: 0;
    }

    #front {
        height: auto
    }

    .frontRow {
        flex-direction: column;
        flex-wrap: wrap;
    }

    #front .spacer {
        height: 8vh;
        width: 100vw;
    }

    .footer {
        display: none;
    }

    .footermobile {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

@media screen and (max-width: 1024px) {
    #about-front {
        height: auto;
        padding: 0;
    }

    #about {
        display: inline-block;
        width: 65%;
        margin: 5em 0;
    }

    .about-img {
        margin: 0 0 1em 0;
        width: 100%;
    }
}

@media screen and (max-width: 773px) {
    #about .aboutContact {
        flex-direction: column;
        align-items: flex-start;
    }

    #about .svg-about {
        margin-bottom: 0.5em;
    }
}

@media screen and (max-width: 640px) {
    #about {
        width: 100%;
    }

    #about .right{
        width: 60%;
        margin: 0 20% 5em 20%;
    }

    #about .left p {
        margin-left: 2em;
    }
}
