body {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

h1 {
   font-family: 'KoHo', sans-serif;
   font-weight: inherit;
   margin: 0
}

/* p {
    font-family: 'Crimson Text', serif;
    font-size: 1.175rem;
} */

img {
    max-width: 100%;
}

.site {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}

#wwname {
    position: fixed;
    z-index: -10;
    margin: 5vh 0;
}

#wwname h1 {
    color: yellow;
    font-size: 30vh;
    line-height: 20vh;
}

#video-background {
/*  making the video fullscreen  */
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

/* ==========================================================================
   Navigation
   ========================================================================== */
.nav p {
    font-size: 1rem;
}

.nav.left {
    top: calc(3rem + 75vh);
    left: 0;
    position: fixed;
    /* -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    margin: calc(50vh - 3rem) 3rem 3rem -1rem; */
    margin: 0;
    text-align: center;
    height: 4rem;
    width: 100%;
    z-index: 1000;
}

.nav.right {
    top: 0;
    right: 0;
    position: fixed;
    /* -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); */
    margin: 2rem;
    padding: 0.8rem 1rem 0 1rem;
    text-align: center;
    height: 10vh;
    z-index: 1000;
}

.nav.left p {
    /* margin-left: calc(0.1rem + 2vw); */
    display: flex;
    justify-content: space-between;
}

.nav.left p a {
    padding: 0.8rem 1rem;
}

.nav.right:hover,
.nav.left p a:hover {
    background-color: yellow;
}

.nav p a {
    color: #000;
    font-family: 'KoHo', sans-serif;
    font-weight: 500;
    text-decoration: none;
    text-shadow: 0 0 1em blue;
}

.nav p a:hover {
    color: red;
}

/* ==========================================================================
   Footer
   ========================================================================== */

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 5vh;
    width: 80%;
    padding: 10%;
}

.footer .right {
    text-align: right;
}

.footer .left,
.footer .right {
    flex-grow: 1;
}

/* ==========================================================================
   Info & Contact
   ========================================================================== */

.info,
.contact {
    cursor: pointer;
}

#info,
#contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 5vh;
    width: 80%;
    padding: 10%;
    position: fixed;
    display: none;
    background-color: yellow;
}

#info {
    top: 0;
    height: 100vh;
    z-index: 100;
}

#contact {
    bottom: 0;
    z-index: 150;
}

#info .right,
#contact .right {
    text-align: right;
}

#info .left,
#info .right,
#contact .left,
#contact .right {
    flex-grow: 1;
}

/* ==========================================================================
   Front Page
   ========================================================================== */

#front {
    height: 100vh;
   }

.frontPage {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.frontRow {
    width: inherit;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#row1.translator {
    transition: all 1000ms ease;
    /* -webkit-transform:translate(0px,2vh);
    -moz-transform:translate(0px,-2vh);
    -ms-transform:translate(0px,-2vh);
    -o-transform:translate(0px,2vh); */
    transform: translate(0px, 5vh);
    transition-delay: 250ms;
}

#row3.translator2 {
    transition: all 1000ms ease;
    /* -webkit-transform:translate(0px,-2vh);
    -moz-transform:translate(0px,2vh);
    -ms-transform:translate(0px,2vh);
    -o-transform:translate(0px,-2vh); */
    transform: translate(0px, -5vh);
    transition-delay: 250ms;
}

#row1 {
    transition: all 1000ms ease;
    -webkit-transform:translate(0px,-15vh);
    -moz-transform:translate(0px,15vh);
    -ms-transform:translate(0px,15vh);
    -o-transform:translate(0px,-15vh);
    transform:translate(0px,15vh);
    transition-delay: 250ms;
}

#row3 {
    transition: all 1000ms ease;
    -webkit-transform:translate(0px,15vh);
    -moz-transform:translate(0px,-15vh);
    -ms-transform:translate(0px,-15vh);
    -o-transform:translate(0px,15vh);
    transform:translate(0px,-15vh);
    transition-delay: 250ms;
}

.frontObject{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.frontObject.empty {
    width: 10vw;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* ==========================================================================
   Image Thumbnails
   ========================================================================== */

.img__wrap {
    transition: all 1000ms ease;
    position: relative;
    height: inherit;
    width: 20vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.img__wrap img {
    width: calc(85% + 1vw);
    height: auto;
}

.img__description {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    width: calc(85% + 1vw);
    height: auto;
    background: rgba(103, 116, 255, 0.75);
    color: #fff;
    opacity: 0;
    transition: opacity .25s, visibility .25s;
    font-family: 'KoHo', sans-serif;
    font-weight: 500;
    text-decoration: none;
}

.img__wrap:hover {
    width: 25vw;
    height: auto;
}

.img__description:hover {
    opacity: 1;
}



@media screen and (min-width: 641px) and (max-width: 1000px) {

    .img__wrap {
        width: 24vw;
        margin: 0.3vw;
    }

    .img__wrap:hover {
        width: 32vw;
    }

}

@media screen and (min-width: 1400px) {

    .img__wrap {
        width: 16vw;
    }

    .img__wrap:hover {
        width: 20vw;
    }
}



@media screen and (max-width: 640px) {

    .nav.right {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        bottom: 0;
        left: 0;
        top: auto;
        right: auto;
        margin: 0;
        padding: 0;
        height: 8vh;
        width: 100vw;
        z-index: 1000;
        background-color: yellow;
    }

    .nav.right:hover
    .nav.left p:hover {
        background-color: none;
    }

    .frontPage,
    .frontRow {
        width: 100vw;
        height: auto;
    }

    .img__wrap,
    .img__wrap:hover {
        width: 90vw;
        overflow: hidden;
        margin-top: 5vw;
    }

    .img__wrap {
        transition: 0;
        transition-delay: 0;
    }

    .img__wrap img {
        width: 100vw;
        height: auto;
        object-fit: cover;
    }

    .img__description {
      width: 90%;
      height: 85%;
      opacity: 1;
      color: #fff;
      margin-top: 5%;
      opacity: 0;
    }

    .img__description:hover {
        opacity: 1;
    }

    .frontPage,
    #row1,
    #row3,
    #row1.translator,
    #row3.translator2 {
        height: auto;
        -webkit-transform: unset;
        -moz-transform: unset;
        -ms-transform: unset;
        -o-transform: unset;
        transform: unset;
        transition: unset;
        transition-delay: 0;
    }

    #front {
        height: auto
    }

    .frontRow {
        flex-direction: column;
        flex-wrap: wrap;
    }

    #front .spacer {
        height: 8vh;
        width: 100vw;
    }
}
