/* ==========================================================================
   Project Page
   ========================================================================== */

.nav.bottom {
   display: none;
}

.title-info,
.text p {
   font-family: 'Crimson Text', serif;
   font-size: 1.175rem;
}

h2 {
   font-family: 'Crimson Text', serif;
   font-size: 1.75rem;
   font-weight: 400;
}

.title-info {
    font-size: 0.95rem;
}


.project {
    margin: auto;
    width: 100vw;
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left:0;
    margin: 5rem auto;
    width: 100vw;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    margin-bottom: calc(2rem + 2vw);
}

.title-img {
    width: 100%;
    height: 75vh;
    object-fit: cover;
    object-position: center top;
}

.title-text{
    pointer-events: none;
    position: fixed;
    color: rgba(101, 255, 40, 1);
    font-size: calc(2rem + 3vw);
    line-height: calc(2rem + 3vw);
    font-weight: 700;
    transition: all .5s ease-out;
    align-self: flex-start;
    left: 0em;
    top: 4vh;
    width: 90%;
}

.title_w{
    /* color: rgba(0, 0, 0, 1); */
    font-size: 0.75em;
    padding: 0;
    top: 0em;
    left: 1.5em;
    font-weight: 500;
    margin: 0;
}

.title-info {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 3em;
    max-width: calc(100% - 28.8%);
    width: 65%;
}

.sub-info-title {
    font-weight: 700;
}

.highlight-text {
    width: 65%;
}

.focus-h,
.focus-c  {
    display: flex;
    justify-content: center;
    padding-bottom: calc(2rem + 8vw);
    width: 100vw;
}

.focus-c {
    flex-direction: column;
    align-items: center;
}

.focus-h {
    flex-direction: row;
    align-items: flex-start;
}

.focus-c img{
    width: 80%;
    padding-bottom: 3rem;
}

.focus-c video {
    width: 80%;
}

.text {
    padding-left: calc(10em + 5vw);
    width: calc(30em + 5vw);
}

.img {
    flex-grow: 2;
    padding: 0;
    width: 65%;
}

@media screen and (max-width: 725px) {

    .nav.left,
    .nav.right {
        display: none;
    }

    .nav.bottom {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        top: auto;
        left: auto;
        position: fixed;
        bottom: 0;
        right: 0;
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -o-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0);
        margin: 0;
        height: 8vh;
        width: 100vw;
        z-index: 1100;
        background-color: yellow;
    }

    .nav.left p {
        padding: 0.8rem 1rem;
    }

    .top {
        margin-top: 0;
    }

    .title {
        width: 100%;
    }

    .title-text {
        top: 1vh;
    }

    .title-info {
        width: 100%
    }

    .sub-info {
        width: 25%;
    }

    .text {
        padding-left: 4.5rem;
    }

    .focus-c video,
    .focus-c img {
        width: 100vw;
    }

    .footer {
        opacity: 0;
        pointer-events: none;
        padding: 0 10% 5% 10%;;
    }
}

/* ==========================================================================
   Title Colors
   ========================================================================== */

#YP .title-text {
    color: rgba(101, 255, 40, 1);
}

#WOS .title-text {
    color: rgba(13, 113, 243, 1);
}

#PubTime .title-text {
    color: rgba(45, 69, 161, 1);
}

#PLG .title-text {
    color: rgba(230, 230, 230, 1);
}

/* #HC .title-text {
    color: rgba(130, 135, 122, 1);
} */

#HC .title-text {
    color: rgba(0, 0, 0, 1);
}

/* #YP.title_w,
#WOS.title_w {
    color: rgba(0, 0, 0, 0.6);
} */

/* #section2 {
        background-color: rgba(101, 255, 40, 0.85);
}

#section3 {
        background-color: rgba(0, 0, 0, 0.85);
}

#section4 {
        background-color: rgba(0, 0, 0, 0.08);
} */


@media screen (max-width: 1000px) {
    .title {
        width: 65%;
    }
}
